<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="perfTapCounterSampling" type="PerfTap.Core.Configuration.CounterSamplingConfiguration, PerfTap.Core" />
    <section name="nanoTubePublishing" type="NanoTube.Configuration.MetricPublishingConfiguration, NanoTube"/>
  </configSections>
  <perfTapCounterSampling sampleInterval="00:00:01" addInstanceNameToMetrics="false" >
    <definitionFilePaths>
      <definitionFile path="CounterDefinitions\\system.counters" />
      <!-- <definitionFile path="CounterDefinitions\\aspnet.counters" /> -->
      <!-- <definitionFile path="CounterDefinitions\\dotnet.counters" /> -->
      <!-- <definitionFile path="CounterDefinitions\\sqlserver.counters" /> -->
      <!-- <definitionFile path="CounterDefinitions\\webservice.counters" /> -->
    </definitionFilePaths>
    <!--
    <counterNames>
      <counter name="\network interface(*)\bytes total/sec" />
    </counterNames>
    -->
  </perfTapCounterSampling>
  <nanoTubePublishing prefixKey=""
                    port="12000"
                    hostNameOrAddress="127.0.0.1"
                    format="StatsD"
    />
</configuration>
